
.card-body p {
  font-weight: 700;
  font-size: 18px;
}


@media (max-width: 576px) {
  .card-img-top {
    width: 100%;
    max-width: 350px; 
  }

  .p-item {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: calc((100% - 350px) / 2); 
    margin-right: auto;
    max-width: 90%; 
  }
}
