.back {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    margin-top:  4%;
    margin-right: 4%;
    margin-left: 4%;
    color: white; 
    background-color: #355592;
    width: 80%;
    min-height: 80px;
}

.role {
    font-size: 14px;
    color: #888;
}


.review-role {
    margin-left: 10px; 
}



@media (max-width: 576px) {
    .back {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15%;
    }
}